/* COMMON */

html, body {
  background: #121212;
  color: #f4f4f4;
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
}

a {
  text-decoration: none;
  color: #f4f4f4;
  outline: none;
}

input {
  border: none;
  color: rgba(255, 255, 255, 0.75);
  padding: 12px !important;
}


/* COLORS */

.elevation {
  background: rgba(255, 255, 255, .05);
}

.secondary {
  color: rgba(255, 255, 255, 0.5);
}


/* BASIC ELEMENTS */

.paper {
  box-shadow: 0 0 8px rgba(0, 0, 0, .2);
  border-radius: 5px;
  padding: 4px;
}

.outlined {
  border: 1px solid rgba(255, 255, 255, .15);
}

.outlined:hover {
  border: 1px solid rgba(255, 255, 255, .25);
}


/* MAIN CONTAINERS */

header, footer {
  position: fixed;
  display: flex;
  width : 100%;
  background: #252525;
}

header {
  top: 0;
}

header a {
  padding: 20px;
}

header a:hover {
  background: rgba(255, 255, 255, .05);
}

footer {
  bottom: 0;
  padding: 20px;
  justify-content: center;
}

footer a {
  margin: 0 16px;
  display: flex;
  align-items: center;
}

#page {
  margin: 100px 20%;
  display: flex;
}

main {
  width: 60%;
}


/* CONTENT */

.icon {
  width: 24px;
  height: 24px;
  margin: 0 4px;
}

.post {
  padding: 20px;
  margin-bottom: 36px;
}

.post .heading {
  display: flex;
  align-items: center;
  padding: 8px;
  margin-bottom: 24px;
  border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.post .heading .author {
  display: flex;
  flex-direction: column;
  margin-left: 16px;
}

.post .heading .icons {
  margin-left: auto;
}

.post .heading .avatar {
  width: 48px;
  height: 48px;
  background-color: #757575;
  font-size: 28px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
}

.post img {
  max-width: 100%;
}

.post .hashtags {
  margin-top: 10px;
}

.post form {
  display: flex;
  flex-direction: column;
}

