html, body {
  background: #121212;
  color: #f4f4f4;
  padding: 0;
  margin: 0;
  font-family: 'Roboto';
}

a {
  text-decoration: none;
  color: #f4f4f4;
}

.sticky {
  position: fixed;
}

.bar {
  display: flex;
  width : 100%;
}

.bar > a {
  padding: 20px;
}

.bar > a:hover {
  background: rgba(255, 255, 255, .05);
}

.bar > span {
  padding: 20px;
}

#header {
  top: 0;
  border-bottom: 1px solid rgba(255, 255, 255, .2);
}

#footer {
  bottom: 0;
  border-top: 1px solid rgba(255, 255, 255, .2);
}

.paper {
  border: 1px solid rgba(255, 255, 255, .2);
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .4);
}

#content {
  position: absolute;
  top: 10%;
  bottom: 10%;
  left: 5%;
  right: 5%;
  padding: 20px;
  overflow: auto;
}

.post {
  padding: 20px;
  margin-bottom: 35px;
}

